@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;

.logo {
    &_circulo {
        position: relative;
        width: 20rem; // Ajusta el tamaño según necesites
        height: 20rem;
        border-radius: 50%;
        border: 8px solid v.$blancoHueso;
        overflow: hidden; // Esto garantiza que nada salga del círculo
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_fondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // Para que la imagen no se deforme
        z-index: 1;
    }
    &_box {
        position: absolute; // Sobre la imagen
        z-index: 2;
        display: flex;
        flex-direction: column; // Apila los elementos (H2 e Icono)
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &_h2 {
        font-family: v.$fuenteTitulo;
        color: v.$blancoHueso;
        font-size: 2.5rem;
        letter-spacing: 2px;
        margin: 0;
        display: flex;
        flex-direction: column; // Apila "Alquimia" y "Verde"
        line-height: 1.1;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &_span {
        font-family: v.$fuenteElegante;
        color: v.$verdeAgua;
        font-style: italic;
        font-weight: 300;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin-top: -5px;
    }
    &_icono {
        color: v.$verdeAgua;
        font-size: 2.6rem;
        opacity: 1.8;
    }
}

.logo_sin_fondo {
    &_box {
        display: flex;
        flex-direction: column; // Apila los elementos (H2 e Icono)
        align-items: center;
        justify-content: center;
        text-align: center;
        width: min-content;
        height: min-content;
        // background-color: rgba(0, 0, 0, 0.2);
    }
    &_h1 {
        font-family: v.$fuenteTitulo;
        color: v.$blancoHueso;
        font-size: 1.7rem;
        letter-spacing: 2px;
        margin: 0;
        display: flex;
        flex-direction: column; // Apila "Alquimia" y "Verde"
        line-height: 1.1;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &_span {
        font-family: v.$fuenteElegante;
        color: v.$verdeAgua;
        font-style: italic;
        font-weight: 300;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-top: -5px;
    }
    &_icono {
        color: v.$verdeAgua;
        font-size: 1.6rem;
        opacity: 1.8;
    }
}